.book-food {
  width: 100%;
  background: url("../../../images/video-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 71.9125px;
  padding: 4.375rem 0;
}
.container {
  background-color: springgreen;
}
