*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/*===== Variable Define =====*/
:root {
  --primary-color: #3bb77e;
  --secondary-color: #ffba43;
  --white-color: #ffffff;
  --white-light-color: #e6e6e6;
  --title-color: #1c2137;
  --sub-title-color: #ffba43;
  --body-text: #4a4a4a;
  --light-green-color: #e2f9ee;
  --light-yellow-color: #fff8ed;
  --warning-color: #ff0000;
  --light-grey: #f9faff;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.bg-banner {
  background-color: #c9f3e1;
}
.btn {
  box-shadow: none !important;
}
.btn-main {
  background: #f9c25d !important;
  color: white !important;
  border: none !important;
  border-radius: 50px;
}
.btn-main:hover {
  background: #4edd89 !important;
}
.btn-main:active {
  background: #4edd89 !important;
}
