.wrapper {
  padding-top: 0 8.28rem;
}
.review {
  background-color: var(--primary-color);
}
.review .item {
  margin-top: 3rem;
  background-color: var(--white-color);
  border-radius: 0.9375rem;
  text-align: center;
}
.review .caption img {
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.3125rem;
}

.review .item .caption p {
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  padding: 0 11% 0.625rem;
  color: var(--title-color);
}
.review h5 {
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--secondry-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
